.todo-item {
  width: 300px;
  line-height: 3;
}

h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: teal;
}

.btn {
  padding: 5px 10px;
  width: 45%;
  color: white;
  background-color: teal;
  font-size: 24px;
}

body {
  display: grid;
  place-items: center;
}

li {
  color: black;
  font-size: 30px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons-group {
  display: flex;
  justify-content: space-between;
}

ul {
  padding: 0;
}